@charset "UTF-8";
.clear,
.clearfix:after {
  height: 0;
  clear: both;
  display: block;
}

.clear,
:after,
:before,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section {
  display: block;
}

:focus,
a,
button,
input,
label,
select,
textarea {
  outline: 0;
}

html,
table {
  width: 100%;
}

.btn,
a,
a:hover {
  text-decoration: none;
}

.clear {
  overflow: hidden;
}

.clearfix:after {
  content: " ";
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

textarea {
  resize: none;
}


ol,
ul {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: bottom;
}



* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  color: #000;
  background: #fff;
  overflow-x: hidden;
}

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  /* display: inline-block */
}

body,
button,
input,
select,
textarea {
  word-wrap: break-word;
  font-family: "Microsoft Yahei", arial, Helvetica;
  font-size: 14px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #ccc;
}

::-webkit-scrollbar-track-piece {
  background: rgba(51, 51, 51, 0.5);
  -webkit-border-radius: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background: rgba(51, 51, 51, 0.7);
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.7);
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: #333;
  height: 50px;
  -webkit-border-radius: 0;
}

body,
html {
  scrollbar-track-color: #ccc;
  scrollbar-face-color: #333;
  scrollbar-shadow-color: #333;
  scrollbar-arrow-color: #333;
  scrollbar-highlight-color: #c00;
  scrollbar-3dlight-color: #c00;
  scrollbar-darkshadow-color: #fff;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  color: #fff;
  letter-spacing: 2px;
}

.header-box {
  background: rgba(16, 16, 16, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav li {
  cursor: pointer;
}

.header {
  height: 70px;
  padding: 13px 0;
  line-height: 44px;
}

.header .logo-box {
  display: inline-block;
  height: 44px;
  padding-top: 7px;
}
.header .logo {
  width: 129px
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mar20 {
  margin: 20px 0;
}

.marb20 {
  margin-bottom: 20px;
}

.mar30 {
  margin: 30px 0;
}

.textColor {
  color: #31c27c;
}

.header>.nav {
  display: inline-block;
}

.header>.nav li {
  display: inline-block;
  padding: 0 5px;
}

.block {
  padding: 60px 0;
}

.block .tit {
  color: #2db969;
  font-size: 27px;
  text-align: center;
  line-height: 70px;
}

.main {
  background-color: #181919;
  margin-top: 70px;
  height: calc(100% - 70px);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../img/bk.png) no-repeat center center;
  background-size: 100% 100%;
}

.main-title {
  overflow: hidden;
  width: 413px;
  margin: 0 auto;
  background: url(../img/logo.png) no-repeat 0 center;
  background-size: 30% auto;
}

.milogo {
  padding-right: 15px;
  max-width: 208px;
  max-height: 83px;
  width: 100%;
}

.title-text {
  font-size: 39px;
  letter-spacing: 8px;
}

.title-info {
  font-size: 22px;
  letter-spacing: 3px;
}

.main-btn {
  width: 95px;
  height: 95px;
  line-height: 95px;
  text-align: center;
  border-radius: 50%;
  margin: 10% auto;
  background: url(../img/bb.png) no-repeat center 60px;
  background-size: 34px auto;
  background-color: #31c27c;
}

.main-desc {
  font-size: 22px;
  color: #979797;
  letter-spacing: 6px;
}

.base {
  background-color: #f8f8f9;
}

.block .b-tit {
  position: relative;
  margin-bottom: 60px;
  text-align: left;
}

.b-tit:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  display: block;
  width: 42px;
  height: 0;
  border-top: 1px solid #2db969;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.block .b-tit:hover:before {
  width: 100%;
}

.b-tit2 {
  color: #39393a;
}

.b-info {
  color: #9b9b9b;
  opacity: 0;
  height: 0;
}

.base.active .b-info,
.b-col.swiper-slide-active .b-info {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.b-col {
  word-break: break-all;
  margin: 0 16px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.b-cont {
  line-height: 35px;
}

.b-cont h3 {
  line-height: 46px;
  font-size: 20px;
}

.alloc,.jieshuo {
  color: #4a4a4a;
  text-align: center;
}

.circles {
  width: 720px;
  margin: 0 auto;
}

.circles .cir-row {}

.a-circle-info {
  color: #9b9b9b;
}

/* .a-tit {
  margin-top: 80px;
} */

.a-progress table tr {
  line-height: 45px;
}
.a-progress table {
  color: #4a4a4a;
  font-size: 14px
}
.a-progress table tr td:nth-child(2) {
  width: 45%
}
.apr-indi-wrap {
  display: block;
  height: 8px;
  position: relative;
  text-align: left;
  margin: 0 12px
}

.apr-indicator {
  position: relative;
  z-index: 99;
  display: inline-block;
  height: 8px;
}

.apr-indi {
  display: inline-block;
  height: 8px;
  background: rgba(49, 194, 124, 1);
  border-radius: 4px;
}
.apr-text {
  padding-left: 4px
}
.jieshuo {
  padding-top: 0
}
.jieshuo.active .apr-indi {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: slowGrow;
  animation-name: slowGrow;
}

.apr-indi-line {
  display: inline-block;
  height: 0;
  width: 100%;
  border-top: 2px solid rgba(229, 229, 229, 1);
  position: absolute;
  left: 0;
  top: 3px;
  z-index: 88;
}

.route {
  background-color: #f8f8f9;
}

.route .r-hd {
  text-align: center;
}

.route .timeline {
  width: 9px;
  background-color: #f4f4f4;
  position: relative;
  margin: 20px auto;
  padding-bottom: 80px;
}

.t-node {
  width: 23px;
  height: 23px;
  background-color: rgba(35, 188, 102, 1);
  border-radius: 50%;
  position: relative;
  left: -7px;
  margin: 72px 0;
}

.t-node-cont {
  width: 380px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  background-color: #fff;
  margin-top: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.t-node-cont:hover {
  -webkit-box-shadow: 0 0 6px #666;
  box-shadow: 0 0 6px #666;
}

.t-node-cont h3 {
  line-height: 40px;
}

.t-node-cont p {
  line-height: 30px;
}

.t-node-cont.put-left {
  left: -410px;
  border-right: 4px solid rgba(35, 188, 102, 1);
}

.t-node-cont.put-right {
  left: 50px;
  border-left: 4px solid rgba(35, 188, 102, 1);
}

.t-node-cont h3 {
  color: #4a4a4a;
}

.t-node-cont p {
  color: #9b9b9b;
}

a {
  color: inherit;
}

.news {
  color: #4a4a4a;
}

.news .n-tit {
  color: #2db969;
  text-align: center;
}

.news img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.news-wrap {
  margin: 60px 0;
}

.news-wrap img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.news-wrap>div:nth-last-child(2) {
  margin: 0 30px;
}

.seeall-btn {
  background-color: rgba(49, 194, 124, 1);
  border-radius: 40px;
  line-height: 50px;
  width: 250px;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.seeall-btn:hover {
  -webkit-animation: rubberBand 0.5s linear;
  animation: rubberBand 0.5s linear;
}

.qa {
  background-color: #f8f8f9;
}

.qa .qa-cont {
  width: 80%;
  margin: 0 auto;
  color: #9b9b9b;
}

.qa .qa-row.active {
  color: #31c27c;
}

.qa .qa-row p {
  display: none;
}

.qa.active .qa-row {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.qa.active .qa-row:first-child {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.qa.active .qa-row:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.qa.active .qa-row:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.qa.active .qa-row:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.qa.active .qa-row:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.qa.active .qa-row:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.qa.active .qa-row:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.qa h4 {
  font-size: 20px;
  line-height: 48px;
}

footer {
  background-color: #181d22;
  text-align: center;
}

.x-input {
  width: 340px;
  border: 1px solid #fff;
  padding: 5px 0;
  border-radius: 40px;
  line-height: 40px;
  position: relative;
  margin: 40px auto;
  padding: 5px 10px 5px 20px;
}

.x-input input {
  border: none;
  outline: none;
  background-color: transparent;
  display: inline-block;
  width: calc(100% - 78px);
}

.x-input span {
  color: #fff;
  background-color: #31c27c;
  border-radius: 40px;
  text-align: center;
  padding: 0 23px;
}

footer {
  padding: 50px 0 10px;
}

footer h1 {
  font-size: 25px;
}

footer .icons {
  width: 50%;
  display: inline-block;
  margin-bottom: 30px;
}

footer .icons li,
.nav-share .icons li {
  width: 67px;
  height: 67px;
  display: inline-block;
  margin: 0 6px;
}

footer .icons li a,
.nav-share .icons li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

footer .icons li:nth-child(1) a,
.nav-share .icons li:nth-child(1) a {
  background-image: url(../img/medium.png)
}

footer .icons li:nth-child(2) a,
.nav-share .icons li:nth-child(2) a {
  background-image: url(../img/telegram.png)
}

footer .icons li:nth-child(3) a,
.nav-share .icons li:nth-child(3) a {
  background-image: url(../img/twitter.png)
}

footer .icons li:nth-child(4) a,
.nav-share .icons li:nth-child(4) a {
  background-image: url(../img/weibo.png)
}

footer .icons li:nth-child(5) a,
.nav-share .icons li:nth-child(5) a {
  background-image: url(../img/weixin.png)
}

footer .icons li a:hover {
  background-size: 50px auto;
}

/* //移动端样式 */

.hamburger {
  position: relative;
  z-index: 2004;
  
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 6px auto;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.changeColor .line {
  background-color: #000;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line {
  background-color: #fff;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.mnav-layer {
  display: none;
}

.noscroll {
  overflow: hidden;
}

.imgc {
  text-align: center;
}


#hamburger-1 ,.mnav-layer{
  display: none;
}

.mlogo {
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 2000;
}

.swiper-wrapper,
.swiper-slide {
  height: auto;
}
.imgc {
  background: #000;
  width: 50px;
  margin: 0 auto;
}
.imgc img {
  width: 80%
}
@media screen and (max-width: 773px) {
  .header-box {
    /* position: static; */
  }
  .header .logo {
    width: 100px;
}
  #hamburger-1 {
    display: inline-block;
    margin-top: 3px
  }
  .header>.nav,
  footer .icons {
    display: none;
  }
  .header .logo-box {
    padding-top: 8px;
    height: auto;
  }
  .header {
    height: 40px;
    padding: 0 15px;
    
  }
  .main {
    margin-top: 0;
    height: 100%;
    background: url(../img/mbk.png) no-repeat center center;
    background-size: 100% 100%;
  }
  .mnav-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background-color: #000;
    color: #fff;
  }
  .nav-share {
    text-align: center;
    margin-top: 30px;
  }
  .mnav-layer .nav {
    width: 100%;
    padding-top: 100px;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    float: none;
  }
  .nav-share .icons li {
    width: 40px;
    height: 40px;
  }
  .nav-share .icons li a {
    background-size: 22px auto;
  }
  .circles {
    width: auto;
  }
  .route .timeline {
    margin: 0 0 0 30px;
    padding-bottom: 15px;
  }
  .news-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .news-wrap>div.new-block {
    margin: 15px 0;
  }
  .qa .qa-cont {
    width: auto;
  }
  .x-input {
    width: 90%;
  }
  .b-col {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    text-align: center;
    margin: 0;
  }
  .block .b-tit {
    display: inline-block;
    margin: 0 auto;
  }
  #basecontainer {
    position: relative;
    overflow: hidden;
    background-color: #f8f8f9;
    margin: 0 15px;
    padding: 0 0 60px 0;
  }
  .swiper-wrapper {
    margin: 0;
  }
  .swiper-pagination-bullet-active {
    background: #31c27c;
  }
  .swiper-pagination {
    bottom: 24px !important;
  }
  .base {
    background-color: #fff;
    width: 100%;
  }
  .main-title {
    width: 90%;
    background-size: 27% auto;
  }
  .title-text {
    font-size: 25px;
  }
  .title-info {
    font-size: 15px;
  }
  footer h1,
  .main-desc {
    font-size: 18px;
  }
  .qa h4 {
    font-size: 16px;
  }
  .qa p {
    font-size: 14px;
  }
  .link span:first-child {
    display: block;
  }
  .link span:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 344px) {
  .main-title {
    width: 80%;
    background-size: 22% auto;
  }
  .title-text {
    font-size: 20px;
  }
  .title-info {
    font-size: 13px;
  }
}

@media screen and (max-width: 866px) {
  .imgc {
    text-align: center;
    margin-left:10px;
  }
}